body{
	margin: 0;
}
.topo{
	height: 40px;
	background: #1e78be;
	color: #FFF;
}
.topo a{
	color:#FFF;
	text-decoration: none;

}
.topo a div{
	float: right;
	height: 40px;
	line-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
}
.topo a div:hover{
	background-color: #BBB;
}
.topousuario{
	float: right;
	margin-right: 20px;
	height: 40px;
	line-height: 40px

}
.cursoitem{
	width: 300px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	border:2px solid #CCC;
	border-radius: 10px;
	text-align: center;
}
.cursoinfo{
	height: 200px;
	border-bottom: 1px solid #CCC;
	background-image: url("../images/xpert.png") ;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: -22px;

}
.cursoinfo img{
	float: left;
	margin-right: 20px;
	margin-top: 10px; 
	margin-left: 20px;
}

.curso_left{
	width: 20%;
	min-height:200px;
	float: left;
	border-right: 1px solid #CCC;
	margin-right: 5px;

}
.curso_left a{
	text-decoration: none;
	color:#000;
}
.curso_left a:hover{
	color:#AAA;
}
.curso_right{
	width: 70%;
	min-height: 300px;
	float: left;
}
.modulo{
	height: 100px;
	line-height: 30px;
	padding-left: 20px;
	padding-left: 30px;
	text-transform: uppercase;
	font-weight: 700;
}
.aula{
	height: 30px;
	line-height: 20px;
	padding-left: 30px;
	text-transform: lowercase;

}
.form_duvida textarea{
	width: 100%;
	height: 150px;

}
/*paginar curso_entrar*/


#img_curso_entrar{
	margin-left: 20px;
}
.cursoinfo h3{
	padding-top:50px; 
	margin-left: 480px;
}
#descricao-curso{
	text-align: center;
}
.assistido{
	padding: 10px 20px 10px 20px;
	background-color: #1e78be;
	border-radius: 20px;
	border:none;
	color: #FFF;
	float: right;
}